html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy"), url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy"), url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

.wrapper {
  width: 1170px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 5px;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.page {
  position: relative;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: "Gilroy", Arial, sans-serif;
}

.page__header::before {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 5px;
  right: 5px;
  width: 1170px;
  height: 299px;
  margin: 0 auto;
  content: "";
  background-image: url("../img/header/header_fon.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center 0;
  opacity: 0.5;
  z-index: -1;
}

.page__header::after {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 5px;
  right: 5px;
  width: 1170px;
  height: 299px;
  margin: 0 auto;
  content: "";
  background-image: url("../img/header/header_fon_line.png"), url("../img/header/header_fon_number.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 100px 8px, 170px;
  background-position: 600px 224px, 933px 198px;
  z-index: -1;
}

.page .header__logo {
  width: 163px;
  height: 35px;
  margin-left: 60px;
  margin-top: 22px;
}

.page .header__form {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin-top: 30px;
}

.page .header__form * {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #000;
}

.page .header__form-search-img {
  width: 16px;
  margin-top: 4px;
  margin-left: 15px;
  cursor: pointer;
}

.page .header__form-search {
  background-color: inherit;
  outline: none;
  border: none;
  padding-left: 15px;
}

.page .header__form-login {
  position: relative;
  background-color: inherit;
  border: none;
  margin-left: auto;
  margin-right: 21%;
}

.page .header__form-login:hover {
  text-shadow: 1px 1px 1px #000;
}

.page .header__form-login::before {
  position: absolute;
  content: "";
  background-image: url("../img/header/icons/login_header.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 13px;
  height: 12px;
  left: -15px;
  top: 5px;
}

.page .header__form-compare {
  position: relative;
  background-color: inherit;
  border: none;
  margin-right: 60px;
}

.page .header__form-compare:hover {
  text-shadow: 1px 1px 1px #000;
}

.page .header__form-compare::before {
  position: absolute;
  content: "";
  background-image: url("../img/header/icons/compare_header.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 10px;
  height: 10px;
  left: -15px;
  top: 7px;
}

.page .header__form-basket {
  position: relative;
  background-color: inherit;
  border: none;
}

.page .header__form-basket:hover {
  text-shadow: 1px 1px 1px #000;
}

.page .header__form-basket::before {
  position: absolute;
  content: "";
  background-image: url("../img/header/icons/basket_header.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 12px;
  height: 12px;
  left: -15px;
  top: 5px;
}

.page .header__navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 43px;
}

.page .header__navigation-list {
  display: contents;
}

.page .header__navigation-list a {
  text-decoration: none;
  color: #000;
}

.page .header__navigation-list a:hover {
  text-shadow: 1px 1px 1px #2e2d2d;
}

.page .header__navigation-list-catalog {
  position: relative;
}

.page .header__navigation-list-catalog::after {
  position: absolute;
  content: "";
  top: 4px;
  left: 230px;
  width: 20px;
  height: 20px;
  background-image: url("../img/header/icons/plus_header.png");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.page .header__navigation-list-delivery {
  margin-left: auto;
  margin-right: 35px;
}

.page .header__navigation-list-warranty {
  margin-right: 105px;
}

.page__main .product__container {
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
}

.page__main .product__img {
  width: 384px;
  height: 486px;
  margin-left: 8%;
}

.page__main .product__description {
  flex-basis: 500px;
  margin-top: 78px;
  margin-right: 60px;
}

.page__main .product__description-title {
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.page__main .product__description-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #464646;
  margin-top: 17px;
}

.page__main .product__description-info {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}

.page__main .product__description-info-link {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000;
  margin-left: 45px;
}

.page__main .product__description-info-link:hover {
  text-shadow: 1px 1px 3px #2e2d2d;
}

.page__main .product__description-info-link::before {
  position: absolute;
  content: "";
  top: 5px;
  left: -44px;
  width: 220px;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}

.page__main .product__description-info-slider {
  margin-top: -5px;
  margin-right: 2px;
}

.page__main .product__description-info-slider input[type="radio"] {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-right: 28px;
  cursor: pointer;
}

.page__main .product__description-info-slider input[type="radio"]::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: white;
  border: 1px solid #000;
}

.page__main .product__description-info-slider input[type="radio"]:checked::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: white;
  border: 1px solid #000;
}

.page__main .product__description-table {
  margin-top: 66px;
  width: 500px;
  height: 85px;
}

.page__main .product__description-table td {
  width: 98px;
}

.page__main .product__description-table td:nth-child(2) {
  position: relative;
  left: 9px;
}

.page__main .product__description-table tr:first-child {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.page__main .product__description-table tr:last-child {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #464646;
}

.page .main__category {
  margin-top: 98px;
}

.page .category__container {
  display: flex;
  justify-content: space-between;
}

.page .category__link {
  text-decoration: none;
}

.page .category__link:hover .category__link-column-img {
  background-color: #ebd248;
}

.page .category__link:hover .category__link-column-title {
  text-shadow: 1px 1px 1px #757575;
}

.page .category__link-column {
  width: 160px;
  height: 240px;
}

.page .category__link-column-img {
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.page .category__link-column-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #000000;
  margin-top: 34px;
}

.page .category__link-column-img-vr {
  width: 97px;
  margin: 53px 0 0 30px;
}

.page .category__link-column-img-monopod {
  width: 86px;
  margin: 42px 0 0 38px;
}

.page .category__link-column-img-camera {
  width: 71px;
  margin: 39px 0 0 48px;
}

.page .category__link-column-img-bracelet {
  width: 107px;
  margin: 51px 0 0 28px;
}

.page .category__link-column-img-watch {
  width: 56px;
  margin: 33px 0 0 55px;
}

.page .category__link-column-img-quadrocopter {
  width: 132px;
  margin: 50px 0 0 12px;
}

.page .main__conditions {
  position: relative;
  min-height: 388px;
  margin-top: 82px;
}

.page .main__conditions::before {
  position: absolute;
  content: "";
  top: 100px;
  width: 100%;
  height: 288px;
  background-color: #e5e5e5;
  z-index: -1;
}

.page .conditions__container {
  display: flex;
}

.page .conditions__list {
  width: 277px;
  min-height: 228px;
  padding-top: 81px;
  border-right: 8px solid #000;
}

.page .conditions__list-item {
  position: relative;
  margin-bottom: 48px;
}

.page .conditions__list-item-delivery,
.page .conditions__list-item-warranty,
.page .conditions__list-item-credit {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.page .conditions__list-item-delivery + label,
.page .conditions__list-item-warranty + label,
.page .conditions__list-item-credit + label {
  position: absolute;
  left: 0;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  padding: 10px 136px 10px 20px;
  cursor: pointer;
}

.page .conditions__list-item-warranty + label {
  padding-left: 26px;
  padding-right: 144px;
}

.page .conditions__list-item-credit + label {
  padding-left: 40px;
  padding-right: 154px;
}

.page .conditions__list-item-delivery + label::before,
.page .conditions__list-item-warranty + label::before,
.page .conditions__list-item-credit + label::before {
  position: absolute;
  content: "";
  top: 15px;
  left: 0px;
  width: 164px;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}

.page .conditions__list-item-delivery:checked + label,
.page .conditions__list-item-warranty:checked + label,
.page .conditions__list-item-credit:checked + label {
  background-color: #000;
  color: #f7e184;
}

.page .conditions__info {
  position: relative;
  display: flex;
}

.page .conditions__info-description {
  margin-top: 74px;
  margin-left: 116px;
}

.page .conditions__info-description-title-delivery,
.page .conditions__info-description-title-warranty,
.page .conditions__info-description-title-credit {
  display: none;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.page .conditions__info-description-title-delivery {
  display: block;
}

.page .conditions__info-description-text-delivery,
.page .conditions__info-description-text-warranty,
.page .conditions__info-description-text-credit {
  display: none;
  max-width: 500px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #464646;
  margin-top: 30px;
}

.page .conditions__info-description-text-delivery {
  display: block;
}

.page .conditions__info-img {
  position: absolute;
  left: 530px;
  width: 136px;
  height: 164px;
  margin-top: 85px;
  margin-left: 140px;
}

.page .main__logo {
  margin-top: 94px;
}

.page .logo__container {
  display: flex;
  justify-content: space-between;
}

.page .logo__image {
  width: 260px;
  height: 100px;
  opacity: 0.3;
}

.page .main__about {
  margin-top: 85px;
}

.page .about__container {
  display: flex;
  justify-content: space-between;
}

.page .about__aboutus {
  position: relative;
  flex-basis: 680px;
  min-height: 600px;
}

.page .about__aboutus-line {
  position: absolute;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000;
}

.page .about__aboutus-title {
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #000000;
  margin-top: 61px;
}

.page .about__aboutus-ftext,
.page .about__aboutus-stext {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.page .about__aboutus-ftext {
  margin-top: 43px;
}

.page .about__aboutus-stext {
  margin-top: 30px;
}

.page .about__aboutus-company {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
  margin-left: 35px;
  margin-top: 66px;
}

.page .about__aboutus-link {
  position: relative;
  top: 66px;
  left: 23px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000;
}

.page .about__aboutus-link:hover {
  text-shadow: 1px 1px 3px #2e2d2d;
}

.page .about__aboutus-link::before {
  position: absolute;
  content: "";
  top: 7px;
  left: -24px;
  width: 260px;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}

.page .about__contacts {
  position: relative;
  flex-basis: 636px;
}

.page .about__contacts-line {
  position: absolute;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000;
}

.page .about__contacts-title {
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #000000;
  margin-top: 61px;
}

.page .about__contacts-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  margin-top: 43px;
}

.page .about__contacts-map {
  width: 560px;
  height: 222px;
  margin-top: 40px;
}

.page .about__contacts-link {
  position: relative;
  top: 80px;
  left: 42px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000;
}

.page .about__contacts-link:hover {
  text-shadow: 1px 1px 3px #2e2d2d;
}

.page .about__contacts-link::before {
  position: absolute;
  content: "";
  top: 7px;
  left: -42px;
  width: 260px;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}

.page__footer {
  min-height: 323px;
  background-color: #464646;
  margin-top: 64px;
}

.page .footer__container {
  display: flex;
  justify-content: space-between;
}

.page .footer__adress {
  position: relative;
}

.page .footer__adress-img {
  width: 163px;
  height: 35px;
  margin-top: 65px;
}

.page .footer__adress-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  margin-top: 38px;
}

.page .footer__adress-line {
  position: absolute;
  content: "";
  top: 228px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
  border: none;
}

.page .footer__navigation {
  width: 430px;
  margin-left: auto;
  margin-right: 34px;
}

.page .footer__navigation-category {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
}

.page .footer__navigation-category-item {
  display: contents;
}

.page .footer__navigation-category-item a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.page .footer__navigation-category-item a:hover {
  color: #eeeeee;
  text-shadow: 2px 2px 4px #000;
}

.page .footer__navigation-link {
  display: flex;
  justify-content: space-between;
  padding: 0 142px;
  margin-top: 66px;
}

.page .footer__navigation-link-img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  outline: none;
}

.page .footer__navigation-link-img:hover {
  background-color: #000;
}

.page .footer__info {
  width: 330px;
}

.page .footer__info-form {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  margin-top: 67px;
}

.page .footer__info-form-login {
  position: relative;
  background-color: inherit;
  border: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  color: #ffffff;
}

.page .footer__info-form-login:hover {
  color: #eeeeee;
  text-shadow: 2px 2px 4px #000;
}

.page .footer__info-form-login::before {
  position: absolute;
  content: "";
  background-image: url("../img/footer/user.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 13px;
  height: 12px;
  left: -15px;
  top: 5px;
}

.page .footer__info-form-compare {
  position: relative;
  background-color: inherit;
  border: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  color: #ffffff;
}

.page .footer__info-form-compare:hover {
  color: #eeeeee;
  text-shadow: 2px 2px 4px #000;
}

.page .footer__info-form-compare::before {
  position: absolute;
  content: "";
  background-image: url("../img/footer/compare.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 10px;
  height: 10px;
  left: -15px;
  top: 7px;
}

.page .footer__info-form-basket {
  position: relative;
  background-color: inherit;
  border: none;
  padding-right: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  color: #ffffff;
}

.page .footer__info-form-basket:hover {
  color: #eeeeee;
  text-shadow: 2px 2px 4px #000;
}

.page .footer__info-form-basket::before {
  position: absolute;
  content: "";
  background-image: url("../img/footer/cart.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 12px;
  height: 12px;
  left: -15px;
  top: 5px;
}

.page .footer__info-phone {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  text-align: right;
  margin-top: 50px;
}

.page .footer__info-image {
  width: 27px;
  height: 35px;
  margin-left: auto;
  margin-top: 68px;
}