@font-face {
  font-family: "ptsansnarrow";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ptsansnarrow.woff2") format("woff2"), url("../fonts/ptsansnarrow.woff") format("woff");
}
@font-face {
  font-family: "ptsansnarrow";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsansnarrowbold.woff2") format("woff2"), url("../fonts/ptsansnarrowbold.woff") format("woff");
}
.page {
  min-height: 100%;
  background-color: #000;
  background-image: url("../img/fon.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  font-family: "ptsansnarrow", "Arial", "sans-serif";
}

.wrapper {
  max-width: 950px;
  overflow: hidden;
  margin: 0px auto;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.page__container {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}
.page__header {
  width: 100%;
  min-height: 72px;
  background-color: #000;
  margin: 0 auto;
}
.page__footer {
  width: 100%;
  height: 193px;
  background-color: #232323;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
  color: #fff;
}
.header__navigation-list {
  display: flex;
  width: 530px;
  justify-content: space-between;
  margin: 0px 0px 0px 15px;
  padding: 0;
  list-style: none;
  font-size: 18px;
  font-weight: 700;
}
.header__navigation-item a {
  color: #fff;
  text-decoration: none;
  padding: 20px 10px 20px 10px;
}
.header__navigation-item a:hover {
  background-color: #424242;
  border-radius: 5px;
}
.header__exit {
  position: relative;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  margin-right: 10px;
  padding: 22px 15px 22px 45px;
}
.header__exit:hover {
  background-color: #424242;
  border-radius: 5px;
}
.header__exit::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  left: 15px;
  top: 23px;
  opacity: 0.3;
}
.header__exit:hover::before, .header__exit:active::before, .header__exit:focus::before {
  opacity: 1;
}

.main__logo {
  max-width: 371px;
  margin: 0 auto;
  margin-top: 60px;
}
.main__advantages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  color: #fff;
  font-weight: 700;
  margin-top: 76px;
}

.advantages__fast {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-gap: 10px;
}
.advantages__fast-title {
  font-size: 30px;
}
.advantages__fast-img {
  width: 30px;
  height: 30px;
}
.advantages__fast-text {
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  margin-top: 16px;
}
.advantages__cool {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-gap: 10px;
}
.advantages__cool-title {
  font-size: 30px;
}
.advantages__cool-img {
  width: 30px;
  height: 30px;
}
.advantages__cool-text {
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  margin-top: 16px;
}
.advantages__expensive {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-gap: 10px;
}
.advantages__expensive-title {
  font-size: 30px;
}
.advantages__expensive-img {
  width: 30px;
  height: 30px;
}
.advantages__expensive-text {
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  margin-top: 16px;
}

.main__info {
  display: -ms-grid;
  display: grid;
  max-width: 100%;
  min-height: 419px;
  background-color: #fff;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  background-image: url("../img/infoline.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 8px 278px;
  margin: 0 5px;
  margin-top: 78px;
  font-weight: 700;
}

.info__news {
  position: relative;
  display: block;
  margin-left: 80px;
}
.info__news-title {
  font-size: 30px;
  margin-top: 50px;
}
.info__one-news-text {
  font-size: 14px;
  line-height: 24px;
  margin-top: 27px;
}
.info__one-news-time {
  font-size: 14px;
  line-height: 24px;
  margin-top: 2px;
}
.info__second-news-text {
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
}
.info__second-news-time {
  font-size: 14px;
  line-height: 24px;
}
.info__news-link {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 44px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  bottom: 50px;
  left: 0;
}
.info__news-link:hover {
  background-color: #424242;
}
.info__gallery {
  display: block;
}
.info__gallery-container {
  position: relative;
  max-width: 300px;
  min-height: 100%;
  margin: 0 auto;
}
.info__gallery-title {
  font-size: 30px;
  padding-top: 50px;
}
.info__gallery-img {
  width: 290px;
  height: auto;
  margin: 0 auto;
  margin-top: 35px;
}
.info__gallery-link-back {
  font-family: "ptsansnarrow", "Arial", "sans-serif";
  font-weight: 700;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 44px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  left: 0;
  bottom: 50px;
  border: none;
}
.info__gallery-link-back:hover {
  background-color: #424242;
}
.info__gallery-link-forward {
  font-family: "ptsansnarrow", "Arial", "sans-serif";
  font-weight: 700;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 44px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  right: 0;
  bottom: 50px;
  border: none;
}
.info__gallery-link-forward:hover {
  background-color: #424242;
}

.main__about {
  display: -ms-grid;
  display: grid;
  max-width: 100%;
  min-height: 435px;
  background-color: #fff;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  background-image: url("../img/infoline.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 8px 278px;
  margin: 0 5px;
  margin-top: 36px;
  font-weight: 700;
}

.about__contacts {
  padding: 50px 0px 0px 80px;
}
.about__contacts-title {
  font-size: 30px;
}
.about__contacts-adress {
  font-size: 14px;
  line-height: 24px;
  margin-top: 25px;
}
.about__contacts-time {
  font-size: 14px;
  line-height: 24px;
  margin-top: 23px;
}
.about__contacts-link {
  display: flex;
  margin-top: 20px;
}
.about__contacts-link-drive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 44px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  background-color: #000;
}
.about__contacts-link-drive:hover {
  background-color: #424242;
}
.about__contacts-link-connection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 44px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  margin-left: 20px;
}
.about__contacts-link-connection:hover {
  background-color: #424242;
}
.about__form-container {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 50px;
}
.about__form-title {
  font-size: 30px;
}
.about__form-text {
  font-size: 14px;
  line-height: 24px;
  margin-top: 25px;
}
.about__form-data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 21px;
  grid-row-gap: 15px;
  margin-top: 15px;
}
.about__form-data-cell {
  display: flex;
  flex-direction: column;
}
.about__form-data-cell input {
  font-size: 14px;
  font-weight: 700;
  width: 119px;
  height: 35px;
  margin-top: 12px;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 2px 0px 0px 15px;
}
.about__form-data-cell span {
  margin-left: 14px;
}
.about__form-button {
  font-family: "ptsansnarrow", "Arial", "sans-serif";
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  margin-top: 21px;
  border: none;
}
.about__form-button:hover {
  background-color: #424242;
}

.page__footer {
  color: #fff;
  font-weight: 700;
  margin-top: 65px;
}

.footer__container {
  display: flex;
  width: 940px;
  height: 193px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.footer__info {
  font-size: 14px;
  line-height: 24px;
}
.footer__info a {
  color: #fff;
}
.footer__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 141px;
  height: 77px;
  margin-left: -10%;
}
.footer__link-text {
  text-align: center;
}
.footer__link-container {
  display: flex;
  justify-content: space-between;
}
.footer__link-vk {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  background-color: #000;
}
.footer__link-vk:hover {
  background-color: #fff;
}
.footer__link-vk:hover path {
  fill: #000;
}
.footer__link-facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  background-color: #000;
}
.footer__link-facebook:hover {
  background-color: #fff;
}
.footer__link-facebook:hover path {
  fill: #000;
}
.footer__link-instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  background-color: #000;
}
.footer__link-instagram:hover {
  background-color: #fff;
}
.footer__link-instagram:hover path {
  fill: #000;
}
.footer__copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  height: 79px;
}
.footer__copyright-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 44px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #000;
}
.footer__copyright-link:hover {
  background-color: #424242;
}